.item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px 40px 10px 0;
}

.trackImg {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-right: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trackName {
  color: #8D8D8D;
  font-size: 12px;
}

.artistName {
  color: #C2C2C2;
  font-size: 10px;
}

.item:hover {
  font-weight: bold;
}
