.container {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.trackName {
  color: #26107B;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.artistName {
  color: #26107B;
  font-size: 12px;
  text-transform: uppercase;
}
