.playerContainer {
  background: #EAE6F7;
  height: 255px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
}

.infoContainer {
  display: flex;
}
