@import url('~/react-rangeslider/lib/index.css');

.container {
  display: flex;
  justify-content: space-between;
}

.buttons {
  width: 132px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons i {
  font-size: 17px;
  color: #26107B;
  cursor: pointer;
}

.buttons .play {
  font-size: 21px;
}
