.duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  color: #26107B;
  font-size: 10px;
  font-family: 'Chivo', 'sans-serif';
}

.slider {
  width: 200px;
  margin: 0 10px;
}

.slider :global .rangeslider {
  background: #CB9CBC;
  height: 3px;
  cursor: pointer;
}

.slider :global .rangeslider .rangeslider__fill {
  background: #372087;
  height: 3px;
}

.slider :global .rangeslider .rangeslider__handle {
  background: #372087;
  border: #372087;
  height: 7px;
  width: 7px;
  border-radius: 50%;
}

.slider :global .rangeslider .rangeslider__handle:after {
  content: none;
}
